@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#f0f0f0, beige)
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: beige; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 233, 205);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 90%;
    width: 400px;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

.generate-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.generate-button:hover {
    background-color: #dddddd;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.generate-button:disabled {
    background-color: #9f9f9f;
    cursor: not-allowed;
}

.image-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 375px;
    margin-top: 20px;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
}
.movie-poster:hover {
    transform: scale(1.05);
}